#notable-tooltip{
	display: none;
	background:rgba(235,235,235,0.9);
	border-radius: 5px;
	width: 250px;
	padding: 1em;
	margin: 0;
	z-index: 99;
}

#notable-tooltip p{
	margin: 0;
}


#notable-tooltip.active{
	display: block;
}

.notable_highlight{
	background-color: #FFF295;
	padding:5px;
}

.notable_highlight:hover{
	cursor: pointer;
}

.notable_blockimg{
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.notable_block h1{
	font-size: 1.2em;
}

.notable_center{
	text-align: center;
}