<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1">
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width">
	<link href="css/styles.css" rel="stylesheet">
	<link href="css/notable.css" rel="stylesheet">

	<title>Notable</title>
</head>
<body>
	<script id = 'embed-html-later'>
	</script>
	<!-- header -->
	<div id = 'header'>
		Notable
	</div>

	<div id = 'introductory-text'>
	Notable is a prototype for inline annotation. Based off <a href="//github.com/jsoma/tabletop">Tabletop.js</a>, it is powered by Google Spreadsheets. Use the format in <a href="https://docs.google.com/spreadsheets/d/1QdZCLbD_wPTe6szkDVM9MpKh-w0ubIUvVP44bhhDRdM/edit#gid=0">this spreadsheet.</a> After you have created a spreadsheet of your own with the headers in the sample, go to File -> Publish to the web... and copy the link. Insert the link in the box below and Notable will help you add annonations to your story.
	</div>
	<!-- form for inputs -->
	<form id = 'form'>
		<div class = 'spreadsheet'>
			<span>Enter link to Google spreadsheet here</span><input class = 'inputbox' type="text" id ="spreadsheet" value="">
		</div>
		<div id = 'submit'>Submit</div>

	</form>
	<!-- area for sample -->
	<div id = 'sample-space' class = 'invisible'>
		<h2>Time to embed some things!</h2>
		<p>Embed this at the top of your article.</p>
		<div id = 'topcode'>
		</div>
		<div id = "sampleinstructions">For each phrase, embed the code where the text goes in your article. Hover over the highlighted phrases below to see what your annotation will look like.</div>
		<div id = 'sample'>
		</div>
	</div>
	<div id = 'notable-tooltip'>
	</div>
	<!-- templates start here -->
	<script type="text/jst" id ="embed-highlight">
		<span class = "notable_highlight" notable-data-which = '<%= slug %>'><%= highlight %></span>
	</script>
	<script type="text/jst" id ="embed-box-each">
		<div class = 'notable_embed_box' notable-data-which = '<%= slug %>'>
			<div class = 'notable_highlight_key notable_side'>
			</div>
			<div class = 'notable_embed_key notable_side'>
				<textarea readonly></textarea>
			</div>
		</div>
	</script>
	<script type="text/javascript" src="js/main.js"></script>

</body>
</html>