<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1">
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width">
	<link href="css/styles.css" rel="stylesheet">
	<link href="css/notable.css" rel="stylesheet">

	<title>Notable</title>
</head>
<body>
	<script id = 'embed-html-later'>
	</script>
	<!-- header -->
	<div id = 'header'>
		Notable
	</div>
	<!-- form for inputs -->
	<form id = 'form'>
		<div class = 'spreadsheet'>
			<span>Enter link to Google spreadsheet here</span><input class = 'inputbox' type="text" id ="spreadsheet" value="">
		</div>
		<div id = 'submit'>Submit</div>

	</form>
	<!-- area for sample -->
	<div id = 'sample-space' class = 'invisible'>
		<h2>Sample area begins below</h2>
		<div id = 'topcode'>
		</div>
		<div id = 'sample'>
		</div>
	</div>
	<div id = 'notable-tooltip'>
	</div>
	<!-- templates start here -->
	<script type="text/jst" id ="embed-highlight">
		<span class = "notable_highlight" notable-data-which = '<%= slug %>'><%= highlight %></span>
	</script>
	<script type="text/jst" id ="embed-box-each">
		<div class = 'notable_embed_box' notable-data-which = '<%= slug %>'>
			<div class = 'notable_highlight_key notable_side'>
			</div>
			<div class = 'notable_embed_key notable_side'>
				<textarea readonly></textarea>
			</div>
		</div>
	</script>

	<script type="text/javascript" src="js/thirdparty/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/thirdparty/underscore.min.js"></script>
	<script type="text/javascript" src="js/thirdparty/tabletop.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/notable.app.js"></script>

</body>
</html>